.error-message {
    color: red;
}
.table-data-font {
    font-family: inherit;
    font-size: 0.95em;
    font-weight: 400;
}
.ml0 {
    margin-left: 0px;
}
.mt5 {
    margin-top: 5px;
}
.table-header {
    font-weight: 500;
    font-size: 1.19em;
    color: #777777;
}
.visibility-hide {
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.full-width {
    max-width: 95%;
}
*, ::after, ::before {
    box-sizing: content-box;
}
.cross-btn {
    position: absolute;
    min-width: 2px;
    margin-top: -3px;
}
.btn-div {
    display: flex;
    margin-left: 33%
}
.button-cls {
    border-radius: 3px;
    margin-left: 10px;
    color: darkgreen;
    border: 1px solid #538253;
    font-weight: 500;
    background: white;
}
.ReactModal__Content {
    height: 280px;
    width: 450px;
}
h2 {
    font-weight: 400;
    text-align: center;
    color: darkgreen;
}
.card {
    border: 1px solid rgba(39, 39, 39, 0.25);
    margin-bottom: 10px;
}
.card-body {
    padding-bottom: 0.8rem;
}
.w85 {
    width: 85px;
}
.w10 {
    width: 100px;
}
.display-inline {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
}
h4 {
    color: darkgreen;
}